/*--------------------------------------------- GLOBAL STYLES --------------------------------------------- */

*{
  margin:0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  color: black;

  /* outline:auto;
  outline-color: red; */

/*--------------------------------------------- HEADER --------------------------------------------- */

}
header{                       
    padding: 30px;
    background-color: #e87461;
    border-bottom: 1px solid black;             
}
header .name{
    font-size: 40px;
    text-decoration: none;
    font-weight: 800;
    padding-bottom: 10px;
}
header .contact{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:30px;
    right:10px; 
}
header .contact a{
margin-bottom: 10px; 
}
header .contact a:hover{
    color: #0000FF;
}
header nav{
    display: flex;
}
header nav a{
    text-decoration: none;
    padding: 0px 10px;                       
    /* padding: 0px 10px ---> first value = top/bottom, 2nd value = left/right*/
    background-color: white;
    border-radius: 20px;
    letter-spacing: 1px;
    margin-right: 10px;
}
header nav a:hover{
    background-color: #e87461;
}

/*--------------------------------------------- MAIN CONTENT INDEX --------------------------------------------- */

main .banner{
    background-image:url(images/banner.jpg);     
    /*I had to resize the image to 1200W x 700H, which is more appropriate for a background image*/
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: cover ---> scales the image to the banner area*/
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid black; 
}
main .main-container{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}
main .main-container > *{                    
/*  > * is just for selecting all children  */
    padding: 10px;
    margin-bottom: 5%;
    min-width: 0; 
    flex-basis: 31%; 
}
main .main-container img{
    width: 100%;
    border-radius: 40px;
}
main .main-container :hover{
    background-color: #e87461;
    border-radius: 40px;
}
main .main-container h2{  
    text-align: center;
    padding-bottom: 5px;
    font-weight: 600;
    margin: 10px, 0px;
    font-size: 30px;
}
main .main-container p{  
text-align: center;
padding-bottom: 5px;
font-weight: 300;
line-height: 30px;
font-size: 20px;
}
main .note{
    color: red;
}

/*--------------------------------------------- MAIN CONTENT ABOUT BANNER --------------------------------------------- */

main .banner{
    margin-bottom: 30px;
}

main .banner h1{
    text-align: center;
}

main .banner p{
    text-align: center;   
}

/*--------------------------------------------- MAIN CONTENT ABOUT TIMELINE --------------------------------------------- */

.timeline-title { text-align: center 
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}
.timeline-container{
  margin: 10px;
  position: relative;
  width: 50%;  /*sets this container to be x% of .timeline div*/
  background-color: #e87461;
  /* border-radius: 10px; */
}
.timeline-content{
  padding: 20px;
  position: relative;
}
.left{
  left: 0;
}
.right{
  left: 50%;
}
.timeline::after{
  content: '';
  position: absolute;
  width:6px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: 5px;
  /* z-index: -1; */
}

.timeline-content h2{
  font-weight: 600;
}
.timeline-content small{
  display: inline-block;
  margin-bottom: 15px;
}
.timeline-content li{
  margin: 15px;
}


/*--------------------------------------------- MEDIA QUERIES --------------------------------------------- */

@media (max-width: 1200px){                  
    header .contact{
        position: static;
    }
}

@media (max-width: 1200px){                  
    main .main-container{
        flex-direction: column;
        margin:50px;
    }
}

/*--------------------------------------------- COMMENTS --------------------------------------------- */

/* 
Below are comments/useful links to features used in the above CSS code.

Outline can be useful for identifying sections of the site & their containers. Comment out when not in use.

The best way to solve the problem of an inconsistent box model is to set all the margins 
and padding values of HTML elements to zero. 
https://www.thoughtco.com/css-zero-out-margins-3464247 

The box-sizing property allows us to include the padding and border in an element's total width and height.
https://www.w3schools.com/css/css3_box-sizing.asp

An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed).
However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.
https://www.w3schools.com/css/css_positioning.asp

media queries are basically conditional statements.
*/